<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Backlog</h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed tabl-striped">
            <tr>
                <th>Id</th>
                <th>Order Number</th>
                <th class="mdl-data-table__cell--non-numeric">Part Number</th>
                <th>Part Description</th>
            </tr>
            <tr *ngFor="#order of orders">
                <td>{{order.id}}</td>
                <td>{{order.OrderNumber}}</td>
                <td>{{order.PartNumber}}</td>
                <td>{{order.PartDescription}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Backlog</h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed tabl-striped">
            <tr>
                <th>Id</th>
                <th>Order Number</th>
                <th class="mdl-data-table__cell--non-numeric">Part Number</th>
                <th>Part Description</th>
            </tr>
            <tr *ngFor="#order of orders">
                <td>{{order.id}}</td>
                <td>{{order.OrderNumber}}</td>
                <td>{{order.PartNumber}}</td>
                <td>{{order.PartDescription}}</td>
            </tr>
        </table>
    </div>
</div>